
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-areas: 'h h' 'a m';
    grid-template-rows: min-content auto ;
    grid-template-columns: min-content auto ;
}
main{
   grid-area: m;

}
aside{
    border-right: 2px solid;
    padding: 1rem 1.5rem 2.5rem 0;
    margin: 10px 0 0 1.25rem;
    width: max-content;
    grid-area: a;
}
header{
    min-height: 5rem;
    background-color: midnightblue;
    grid-area: h;
}