


.filterContainer{
    display: flex;
    padding: .5rem 0;
    gap: 1rem
}
.filterboxLanguage{
    display: flex;

}
.filterboxLanguage div,
.filterboxLanguage select{
   align-self: center;
}
.filterboxLanguage div,
.SearchBar button{
    margin: 0 1rem ;
}
*{
    /*outline: 1px solid firebrick;*/
}

.sniperContainer, body, main{
    overflow-x: hidden;

}

.codeSniperBox{
    border:  1px solid lightgray;

}
.codeSniperBox+.codeSniperBox{
    margin-top: .5rem
}

.codeSniperBox--inner{

}
.codeSniper__title{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: .25rem  1rem ;
}
.codeSniper__code{
    margin: 1rem;
    background-color: #afabab;
}

