
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*style general*/
.disFlex{
    display: flex;
}
.comment{
    color: green;
}

/*style links*/

.reference span{
    background: lightgray;
    border: 1px solid darkgrey;
    border-radius: 0.35em;
    padding: .1rem;
}

/*style datatype*/
.dataType +.dataType{
    margin-top: .5rem;
}
.dataType{
    background-color: gray;
    backdrop-filter: blur(25px);
    overflow: hidden;
    /* transform: translateX(152%);
    transition: 400ms transform ease;*/

}
.dataType--inner{
    overflow: hidden;
    border-radius: 0.25rem;
    border : 3px solid black;
}
.dataType--inner>div{
}
.dataType__oms{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
    padding: .25rem  1rem ;
}
.dataType__vb{
    padding: 1.5rem  1rem ;
    max-width: 80ch;
}



